*{
    box-sizing: border-box;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.cabecalho{
    background-color: rgba(220, 20, 60, 0.699);
}

section > h3{
    font-size: 81px;
    padding: 16px 0 ;
    justify-content: center;
    margin-bottom: 1000px;
}

.container{
    width: 1336px;
    margin: 0 auto;
}

header li{
    display: inline;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto ,  0;
}


#loja img{
    width: 70px ;
  
}

#rodape{
    margin-top: 10000px;
}


#imagem_loja{
    margin: 0;
}

section li{
    display: inline;
}

section .sobre-loja{
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
}